.main {
 width: 90vw;
 margin: 0 auto;   
 height: auto;
}



.main div {
    padding: 20px 0;
    flex: 1;
    vertical-align: middle;
}

.projects div {
    flex: 1;
    text-align: center;
}

.projects {
    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
}

.projects img {
    flex: 1;
    width: 70%;
}

nav li {
    padding: 10px 0 0 10px;
}

.project-box {
    padding-top: 2%;
    padding-bottom: 2%;
    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
}

.project-box div:first-child {
    width: 50%;
    padding: 20px;
}

nav ul {
    text-align: right;
    display: flex;
    padding-left: 50%;
}

nav div {
    flex: 1;
}

nav div:first-child {
    padding-left: 1%;
    padding-top: 1%;
}

.bg6 p {
    margin-bottom: 0;
}

.wrapper {
    overflow: hidden;
}

.headline h1 {
   text-align: center; 
   width: 50%;
   @media screen and (max-width: 900px) {
        text-align: left; 
    }
}

.headline {
    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
}

nav ul {
    @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
        text-align: left; 
    }
}